* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: wheat;
}

.slider-container {
    position: relative;
    width: 500px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.image-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 20px;
    opacity: 0.5;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 10%;
    padding: 5px;
}

.btn:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

.btn.prev {
    left: 0px;
}

.btn.next {
    right: 0px;
}